<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>كارت الخير</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/pages.css" />
    <link rel="stylesheet" href="css/elag.css" />
    <link
      rel="stylesheet"
      href="css/mobile-pages.css"
      media="(max-width: 767px)"
    />
    <link
      rel="stylesheet"
      href="css/mobile-header.css"
      media="(max-width: 767px)"
    />
    <link
    rel="stylesheet"
    href="css/mobile-header2.css"
    media="(max-width: 367px)"
  />

    <link rel="stylesheet" href="iconmoon/style.css" />
    <script defer src="js/elag.js"></script>
    <script defer src="js/mobile-header.js"></script>
  </head>
  <body dir="rtl" id="body">
    <%- include('./components/header.ejs') %>

    <section class="MainSec" id="MainSec">
      <div class="headParent">
        <h1 class="MainTitle">علاج المرضي</h1>
        <div>
          <a href="./monthlyelag.html">
            <button class="reports">التقارير الشهريه</button>
          </a>
        </div>
      </div>
        
      <table  class="center inco">
        <tr>
            <th class="name">الايرادات الي الان</th>
            <th class="money" id="inpelag"> 
              <% 
          let elagIncom = 0;
          for (let i = 0; i < incomarr.length; i++) {
            elagIncom = elagIncom + incomarr[i].elag
            mobelagIncom = elagIncom
            totelagIncom = elagIncom
          } %>
          <%= elagIncom %> 
        </th>
          </tr>
        </tr>
      </table>
      <span class="icon-th-list show-when-mobile" id="det"></span>
      <table  class="center inco show-when-mobile hide2" id="dettable">
        <tr class="">
          <th class="">الاجمالي</th>
          <th class=""> <%= mobelagIncom %> </th>
        </tr>
        <tr class="">
          <th class="">المصروفات</th>
          <th id="totalpaid2">
            <% 
            let mobelagall = 0;
            for (let i = 0; i < elagarr.length; i++) {
              mobelagall = mobelagall + elagarr[i].money
            } %>
            <%= mobelagall %>
          </th>
        </tr>
        <tr class="">
          <th class="">المتبقي</th>
          <th id="totalremain2"> 
            <%= totelagIncom - mobelagall %>
          </th>
        </tr>
      </table>

      <table class="center hide-when-mobile2" id="table">
        <tr>
          <th>م</th>
          <th>التاريخ</th>
          <th>المكان</th>
          <th>البيان</th>
          <th>المصروفات</th>
          <th>المتبقي</th>
          <th>تعديلات</th>
        </tr>
        <% elagarr.forEach((item,index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= item.date %></td>
            <td><%= item.places %></td>
            <td><%= item.ways %></td>
            <td><%= item.money %></td>
            <td> 
              <%= elagIncom - item.money %>
          <% elagIncom = elagIncom - item.money %>
            </td>
            <td>
              <div>
                <form class="buttons" style="display: inline;" action="/elag.html/<%= item._id %>?_method=DELETE"  method="post">
                  <button><span class="icon-trash del"></span></button>
                </form>
                <a href="editelag/<%= item._id %>">
                  <button>
                  <span class="icon-pencil"></span>
                </button>
              </div>
            </td>
          </tr>
        <% }) %>
        <tr class="rows">
          <th class="hidecell">م</th>
          <th class="hidecell">المكان</th>
          <th class="hidecell">المكان</th>
          <th class="extcell">الاجمالي</th>
          <th class="extcell" id="totalpaid">
            <% 
            let elagall = 0;
            for (let i = 0; i < elagarr.length; i++) {
              elagall = elagall + elagarr[i].money
            } %>
            <%= elagall %></th>
          </th>
          <th class="extcell" id="totalremain">
            <%= totelagIncom - elagall %>
          </th>
          <th class="hidecell">تعديلات</th>
        </tr>
      
      </table>

      <div class="show-when-mobile2" id="mobincom">  
        <% elagarr.forEach(item => { %>
          <div class="details">
            <div class="summ">
                        <div class="iconstyl">
                         <span class="icon-circle-left"></span><span class="icon-circle-down hide2"></span></div>
                        <span><%= item.places %></span>
                      </div>
            <table class="detTable">
              <tr>
                <td>التاريخ</td>
                <td class="mobdate"><%= item.date %></td>
              </tr>
              <tr>
                <td>البيان</td>
                <td class="mobways"><%= item.ways %></td>
              </tr>
              <tr>
                <td>المصروفات</td>
                <td class="mobmoney"><%= item.money %></td>
              </tr>
              <tr>
                <td>المتبقي</td>
                <td class="mobelag"> 
                  <%= mobelagIncom - item.money %>
          <% mobelagIncom = mobelagIncom - item.money %>
                </td>
              </tr>
              <tr>
                <td>تعديلات</td>
                <td>
                  <div class="icons2">
                    
                    <form class="buttons" style="display: inline;" action="/elag.html/<%= item._id %>?_method=DELETE"  method="post">
                      <button class="icon-trash del"></button>
                    </form>
                    <a href="editelag/<%= item._id %>">
                      <button>
                      <span class="icon-pencil2"></span>
                    </button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        <% }) %>
        
      </div>

      <div class="form-popup hide-when-mobile" id="myForm">
        <form action="/elag.html" method="post" class="form-container">
          <h1>مصروفات</h1>

          <label for="data"><b>التاريخ</b></label>
          <input id="dateinput" type="date" name="date" required />
          <br />
          <label for="place"><b>المكان</b></label>
          <select id="places" name="places" class="Placeinput" value="0000" required>
              <option value=""></option>
              <option value="مركز محمد رشيد للأورام بالأسكندرية">مركز محمد رشيد للأورام بالأسكندرية</option>
              <option value="مستشفي أبو الريش القاهره">مستشفي أبو الريش القاهره</option>
          </select>
          <br />
          <label for="number"><b>البيان</b></label>
          <input class="input" type="name" min="0" name="ways" required />
          <br />
          <label for="number"><b>المصروفات</b></label>
          <input class="input" type="number" name="money" min="0" required />
          <div>
            <button type="submit" class="btn savebtn" id="save" disabled>حفظ</button>
            <button type="submit" class="btn cancel" id="cancel">الغاء</button>
          </div>
        </form>
      </div>

      <div class="form-popup2 hide-when-mobile" id="myForm2">
        <form action="/action_page.php" class="form-container">
          <h1>تعديل</h1>

          <label for="data"><b>التاريخ</b></label>
          <input id="dateinput2" type="date" name="data" required />
          <br />
          <label for="place"><b>المكان</b></label>
          <select id="places2" name="places" class="Placeinput" value="">
            <option value="مركز محمد رشيد للأورام بالأسكندرية">مركز محمد رشيد للأورام بالأسكندرية</option>
            <option value="مستشفي أبو الريش القاهره">مستشفي أبو الريش القاهره</option>
          </select>
          <br />
          <label for="number"><b>البيان</b></label>
          <input class="input2" type="name" min="0" required />
          <br />
          <label for="number"><b>المصروفات</b></label>
          <input class="input2" type="number" min="0" value="" required />

          <div>
            <button type="button" class="btn savebtn" id="save2" >حفظ</button>
            <button type="button" class="btn cancel" id="cancel2">الغاء</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
