<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>كارت الخير</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/pages.css" />
    <link rel="stylesheet" href="css/outcome.css" />
    <link
      rel="stylesheet"
      href="css/mobile-pages.css"
      media="(max-width: 767px)"
    />
    <link
      rel="stylesheet"
      href="css/mobile-header.css"
      media="(max-width: 767px)"
    />
    <link
      rel="stylesheet"
      href="css/mobile-header2.css"
      media="(max-width: 367px)"
    />

    <link rel="stylesheet" href="iconmoon/style.css" />
    <script defer src="js/pages.js"></script>
    <script defer src="js/mobile-header.js"></script>
  </head>
  <body dir="rtl" id="body">
    <%- include('./components/header.ejs') %>

    <section class="MainSec tall" id="MainSec">
      <h1 class="MainTitle">التقارير</h1>

      
        <table class="table center hide-when-mobile2" id="table">
          <tr>
            <th>م</th>
            <th>البيان</th>
            <th>زكاة المال</th>
            <th>صدقة جارية</th>
            <th>علاج مرضي</th>
            <th>ذبح و توزيع لحوم</th>
            <th>العاملين عليها</th>
            <th>الاجمالي</th>
          </tr>
          <tr>
            <td class="numb"></t>
            <td>ايرادات شهر يناير</td>
            <td> <% let janzkahincom = 0
            incomjan.forEach(item => {
              janzkahincom = janzkahincom + item.zkah
            }); %> 
            <%= janzkahincom %>
          </td>
          <td> <% let jansdkahincom = 0
            incomjan.forEach(item => {
              jansdkahincom = jansdkahincom + item.sdkah
            }); %> 
            <%= jansdkahincom %>
          </td>
          <td> <% let janelagincom = 0
            incomjan.forEach(item => {
              janelagincom = janelagincom + item.elag
            }); %> 
            <%= janelagincom %>
          </td>
          <td> <% let janzab7incom = 0
            incomjan.forEach(item => {
              janzab7incom = janzab7incom + item.zab7
            }); %> 
            <%= janzab7incom %>
          </td>
          <td> <% let janworkerincom = 0
            incomjan.forEach(item => {
              janworkerincom = janworkerincom + item.worker
            }); %> 
            <%= janworkerincom %>
          </td>
            <th> <%= janzkahincom + jansdkahincom + janelagincom + janzab7incom + janworkerincom %> </th>
          </tr>
          <tr>
            <td class="numb"></td>
            <td>مصروفات شهر يناير</td>
            <td> <% let zkahjanout = 0
                 zkahjan.forEach(item => {
                  zkahjanout = zkahjanout + item.money
                 }); %> 
                 <%= zkahjanout %>
                </td>
            <td> ------ </td>
            <td> ------ </td>
            <td> ------ </td>
            <td> ------ </td>
            <td> ------ </td>
          </tr>
          <tr>
            <td class="numb"></td>
            <th>المتبقي</th>
            <th> ------ </th>
            <th> ------ </th>
            <th> ------ </th>
            <th> ------ </th>
            <th> ------ </th>
            <th> ------ </th>
          </tr>
        </table>
      
        <div class="show-when-mobile2" id="mobincom">  
          <% incomjan.forEach(item => { %>
            <div class="details">
              <div class="summ">
                          <div class="iconstyl">
                           <span class="icon-circle-left"></span><span class="icon-circle-down hide2"></span></div>
                           <span class="mobname">ايرادات يناير</span>
                        </div>
              <table class="detTable">
                <tr>
                  <td>زكاة المال</td>
                  <td class="mobzkah"><% let mobjanzkahincom = 0
                    incomjan.forEach(item => {
                      mobjanzkahincom = mobjanzkahincom + item.zkah
                    }); %> 
                    <%= mobjanzkahincom %></td>
                </tr>
                <tr>
                  <td>صدقة جارية</td>
                  <td class="mobsdkah"></td>
                </tr>
                <tr>
                  <td>ذبح و توزيع لحوم</td>
                  <td class="mobzab7"></td>
                </tr>
                <tr>
                  <td>علاج مرضي</td>
                  <td class="mobelag"></td>
                </tr>
                <tr>
                  <td>العاملين عليها</td>
                  <td class="mobworker"></td>
                </tr>
                <tr>
                  <td>الاجمالي</td>
                  <td class="mobworker"></td>
                </tr>
              </table>
            </div>
          <% }) %>
        </div>

    </section>
  </body>
</html>
