<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>كارت الخير</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/pages.css" />
    <link rel="stylesheet" href="css/financial.css" />
    <link
      rel="stylesheet"
      href="css/mobile-pages.css"
      media="(max-width: 767px)"
    />
    <link
      rel="stylesheet"
      href="css/mobile-header.css"
      media="(max-width: 767px)"
    />
    <link
      rel="stylesheet"
      href="css/mobile-header2.css"
      media="(max-width: 367px)"
    />

    <link rel="stylesheet" href="iconmoon/style.css" />
    <script defer src="js/pages.js"></script>
    <script defer src="js/mobile-header.js"></script>
  </head>
  <body dir="rtl" id="body">
    <%- include('./components/header.ejs') %>

    <section class="MainSec tall" id="MainSec">
      <div class="head">
        <h1 class="MainTitle">حسابات سوهاج</h1>
        <a href="financialview.html"><button class="back">Back</button></a>
      </div>

      <table class="center hide-when-mobile2 table">
        <tr>
          <th colspan="7" class="place">رصيد دياب / المحافظة – سوهاج</th>
        </tr>
        <tr class="rows">
          <th class="">م</th>
          <th class="">التاريخ</th>
          <th class="">البيان</th>
          <th class="">الرصيد</th>
          
        </tr>
        <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة رصيد" && item.places == "دياب / المحافظة – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            
          </tr>
        <%
        } }) %>
        <tr class="rows">
          <th class="hidecell">م</th>
          <th class="hidecell">المكان</th>
          <th class="extcell">الاجمالي</th>
          <th class="extcell totalcurrence">
            <% 
            let total = 0;
            let totall = 0;
            let mobtotall = 0 
            let mobtotal = 0
            for (let i = 0; i < financialarr.length; i++) {
            if ( financialarr[i].type == "أضافة رصيد" && financialarr[i].places == "دياب / المحافظة – سوهاج") {
              total = total + financialarr[i].money
              totall = total
              mobtotal = total
              mobtotall = total
            }
          } %>
            <%= total %>
            </th>
          
        </tr>
      </table>
      <table class="center hide-when-mobile2 table">
        <tr>
          <th colspan="7" class="place">مصروفات دياب / المحافظة – سوهاج</th>
        </tr>
        <tr>
          <th colspan="4" class="">الرصيد المتاح</th>
          <th colspan="3" class="totalcurrence"> <%= total %> </th>
        </tr>
        <tr class="rows">
          <th class="">م</th>
          <th class="datearrang">
            <span>التاريخ</span>
            
          </th>
          <th class="">البيان</th>
          <th class="">المصروفات</th>
          <th class="">المتبقي</th>
          
        </tr>
        <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة مصروفات" && item.places == "دياب / المحافظة – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            <td class=""> <%= total - item.money %>
                          <% total = total - item.money %> </td>
            
          </tr>
        <%
        } }) %>
        <tr class="rows">
          <th class="hidecell">م</th>
          <th class="hidecell">المكان</th>
          <th class="extcell">الاجمالي</th>
          <th class="extcell totaloutcome">
            <% 
            let total2 = 0;
            for (let i = 0; i < financialarr.length; i++) {
            if ( financialarr[i].type == "أضافة مصروفات" && financialarr[i].places == "دياب / المحافظة – سوهاج") {
              total2 = total2 + financialarr[i].money
            }
          } %>
            <%= total2 %>
            </th>
          <th class="extcell totalremain"> <%= totall - total2 %> </th>
          
        </tr>
      </table>
      <table class="center hide-when-mobile2 table">
        <tr>
          <th colspan="7" class="place">رصيد دياب / إدفا و الغوانم – سوهاج</th>
        </tr>
        <tr class="rows">
          <th class="">م</th>
          <th class="datearrang">
            <span>التاريخ</span>
            
          </th>
          <th class="">البيان</th>
          <th class="">الرصيد</th>
          
        </tr>
        <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة رصيد" && item.places == "دياب / إدفا و الغوانم – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            
          </tr>
        <%
        } }) %>
        <tr class="rows">
          <th class="hidecell">م</th>
          <th class="hidecell">المكان</th>
          <th class="extcell">الاجمالي</th>
          <th class="extcell totalcurrence">
            <% 
            let totaal = 0;
            let totaall = 0;
            let mobtotaall = 0 
            let mobtotaal = 0
            for (let i = 0; i < financialarr.length; i++) {
            if ( financialarr[i].type == "أضافة رصيد" && financialarr[i].places == "دياب / إدفا و الغوانم – سوهاج") {
              totaal = totaal + financialarr[i].money
              totaall = totaal
              mobtotaal = totaal
              mobtotaall = totaal
            }
          } %>
            <%= totaal %>
            </th>
          
        </tr>
      </table>
      <table class="center hide-when-mobile2 table">
        <tr>
          <th colspan="7" class="place">مصروفات دياب / إدفا و الغوانم – سوهاج</th>
        </tr>
        <tr>
          <th colspan="4" class="">الرصيد المتاح</th>
          <th colspan="3" class="totalcurrence"> <%= totaal %> </th>
        </tr>
        <tr class="rows">
          <th class="">م</th>
          <th class="datearrang">
            <span>التاريخ</span>
            
          </th>
          <th class="">البيان</th>
          <th class="">المصروفات</th>
          <th class="">المتبقي</th>
          
        </tr>
        <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة مصروفات" && item.places == "دياب / إدفا و الغوانم – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            <td class=""> <%= totaal - item.money %>
                          <% totaal = totaal - item.money %> </td>
            
          </tr>
        <%
        } }) %>
        <tr class="rows">
          <th class="hidecell">م</th>
          <th class="hidecell">المكان</th>
          <th class="extcell">الاجمالي</th>
          <th class="extcell totaloutcome">
            <% 
            let totaal2 = 0;
            for (let i = 0; i < financialarr.length; i++) {
            if ( financialarr[i].type == "أضافة مصروفات" && financialarr[i].places == "دياب / إدفا و الغوانم – سوهاج") {
              totaal2 = totaal2 + financialarr[i].money
            }
          } %>
            <%= totaal2 %>
            </th>
          <th class="extcell totalremain"> <%= totaall - totaal2 %> </th>
          
        </tr>
      </table>
      <table class="center hide-when-mobile2 table">
        <tr>
          <th colspan="7" class="place">رصيد رداد مراد / بهتا – سوهاج</th>
        </tr>
        <tr class="rows">
          <th class="">م</th>
          <th class="">التاريخ</th>
          <th class="">البيان</th>
          <th class="">الرصيد</th>
          
        </tr>
        <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة رصيد" && item.places == "رداد مراد / بهتا – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            
          </tr>
        <%
        } }) %>
        <tr class="rows">
          <th class="hidecell">م</th>
          <th class="hidecell">المكان</th>
          <th class="extcell">الاجمالي</th>
          <th class="extcell totalcurrence">
            <% 
            let totaaal = 0;
            let totaaall = 0;
            let mobtotaaall = 0 
            let mobtotaaal = 0
            for (let i = 0; i < financialarr.length; i++) {
            if ( financialarr[i].type == "أضافة رصيد" && financialarr[i].places == "رداد مراد / بهتا – سوهاج") {
              totaaal = totaaal + financialarr[i].money
              totaaall = totaaal
              mobtotaaal = totaaal
              mobtotaaall = totaaal
            }
          } %>
            <%= totaaal %>
            </th>
          
        </tr>
      </table>
      <table class="center hide-when-mobile2 table">
        <tr>
          <th colspan="7" class="place">مصروفات رداد مراد / بهتا – سوهاج</th>
        </tr>
        <tr>
          <th colspan="4" class="">الرصيد المتاح</th>
          <th colspan="3" class="totalcurrence"> <%= totaaal %> </th>
        </tr>
        <tr class="rows">
          <th class="">م</th>
          <th class="datearrang">
            <span>التاريخ</span>
            
          </th>
          <th class="">البيان</th>
          <th class="">المصروفات</th>
          <th class="">المتبقي</th>
          
        </tr>
        <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة مصروفات" && item.places == "رداد مراد / بهتا – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            <td class=""> <%= totaaal - item.money %>
                          <% totaaal = totaaal - item.money %> </td>
            
          </tr>
        <%
        } }) %>
        <tr class="rows">
          <th class="hidecell">م</th>
          <th class="hidecell">المكان</th>
          <th class="extcell">الاجمالي</th>
          <th class="extcell totaloutcome">
            <% 
            let totaaal2 = 0;
            for (let i = 0; i < financialarr.length; i++) {
            if ( financialarr[i].type == "أضافة مصروفات" && financialarr[i].places == "رداد مراد / بهتا – سوهاج") {
              totaaal2 = totaaal2 + financialarr[i].money
            }
          } %>
            <%= totaaal2 %>
            </th>
          <th class="extcell totalremain"> <%= totaaall - totaaal2 %> </th>
          
        </tr>
      </table>
      <table class="center hide-when-mobile2 table">
        <tr>
          <th colspan="7" class="place">
            رصيد عثمان أبو مروان / الشوكا – طما – سوهاج
          </th>
        </tr>
        <tr class="rows">
          <th class="">م</th>
          <th class="datearrang">
            <span>التاريخ</span>
          </th>
          <th class="">البيان</th>
          <th class="">الرصيد</th>
          
        </tr>
        <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة رصيد" && item.places == "عثمان أبو مروان / الشوكا – طما – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            
          </tr>
        <%
        } }) %>
        <tr class="rows">
          <th class="hidecell">م</th>
          <th class="hidecell">المكان</th>
          <th class="extcell">الاجمالي</th>
          <th class="extcell totalcurrence">
            <% 
            let totaaaal = 0;
            let totaaaall = 0;
            let mobtotaaaall = 0 
            let mobtotaaaal = 0
            for (let i = 0; i < financialarr.length; i++) {
            if ( financialarr[i].type == "أضافة رصيد" && financialarr[i].places == "عثمان أبو مروان / الشوكا – طما – سوهاج") {
              totaaaal = totaaaal + financialarr[i].money
              totaaaall = totaaaal
              mobtotaaaal = totaaaal
              mobtotaaaall = totaaaal
            }
          } %>
            <%= totaaaal %>
            </th>
          
        </tr>
      </table>
      <table class="center hide-when-mobile2 table">
        <tr>
          <th colspan="7" class="place">
            مصروفات عثمان أبو مروان / الشوكا – طما – سوهاج
          </th>
        </tr>
        <tr>
          <th colspan="4" class="">الرصيد المتاح</th>
          <th colspan="3" class="totalcurrence"> <%= totaaaal %> </th>
        </tr>
        <tr class="rows">
          <th class="">م</th>
          <th class="datearrang">
            <span>التاريخ</span>
            
          </th>
          <th class="">البيان</th>
          <th class="">المصروفات</th>
          <th class="">المتبقي</th>
          
        </tr>
        <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة مصروفات" && item.places == "عثمان أبو مروان / الشوكا – طما – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            <td class=""> <%= totaaaal - item.money %>
                          <% totaaaal = totaaaal - item.money %> </td>
            
          </tr>
        <%
        } }) %>
        <tr class="rows">
          <th class="hidecell">م</th>
          <th class="hidecell">المكان</th>
          <th class="extcell">الاجمالي</th>
          <th class="extcell totaloutcome">
            <% 
            let totaaaal2 = 0;
            for (let i = 0; i < financialarr.length; i++) {
            if ( financialarr[i].type == "أضافة مصروفات" && financialarr[i].places == "عثمان أبو مروان / الشوكا – طما – سوهاج") {
              totaaaal2 = totaaaal2 + financialarr[i].money
            }
          } %>
            <%= totaaaal2 %>
            </th>
          <th class="extcell totalremain"> <%= totaaaall - totaaaal2 %> </th>
          
        </tr>
      </table>

      <div class="show-when-mobile4" id="mobincom">
        <div class="details">
          <div class="summ">
            <div class="iconstyl">
              <span class="icon-circle-left"></span>
              <span class="icon-circle-down hide2"></span>
            </div>
            <span class="mobplace">رصيد دياب / المحافظة – سوهاج</span>
          </div>
          <table class="center hide-when-mobile2 mobtable detTable">
            <tr class="rows">
              <th class="">م</th>
              <th class="">التاريخ</th>
              <th class="">البيان</th>
              <th class="">الرصيد</th>
              
            </tr>
            <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة رصيد" && item.places == "دياب / المحافظة – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb2"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            
          </tr>
        <%
        } }) %>
            <tr class="rows">
              <th class="hidecell">م</th>
              <th class="hidecell">المكان</th>
              <th class="extcell">الاجمالي</th>
              <th class="extcell mobtotalcurrence"> <%= mobtotal %> </th>
              
            </tr>
          </table>
        </div>
        <div class="details">
          <div class="summ">
            <div class="iconstyl">
              <span class="icon-circle-left"></span>
              <span class="icon-circle-down hide2"></span>
            </div>
            <span class="mobplace">مصروفات دياب / المحافظة – سوهاج</span>
          </div>
          <table class="center hide-when-mobile2 mobtable detTable">
            <tr class="rows">
              <th colspan="4" class="">الرصيدالمتاح</th>
              <th colspan="3" class="mobtotalcurrence"> <%= mobtotall %> </th>
            </tr>
            <tr class="rows">
              <th class="">م</th>
              <th class="">التاريخ</th>
              <th class="">البيان</th>
              <th class="">المصروفات</th>
              <th class="">المتبقي</th>
              
            </tr>
            <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة مصروفات" && item.places == "دياب / المحافظة – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb2"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            <td class=""> <%= mobtotal - item.money %>
                          <% mobtotal = mobtotal - item.money %>   </td>
            
          </tr>
        <%
        } }) %>
            <tr class="rows">
              <th class="hidecell">م</th>
              <th class="hidecell">المكان</th>
              <th class="extcell">الاجمالي</th>
              <th class="extcell totaloutcome"> 
            <% 
            let mobtotal2 = 0;
            for (let i = 0; i < financialarr.length; i++) {
            if ( financialarr[i].type == "أضافة مصروفات" && financialarr[i].places == "دياب / المحافظة – سوهاج") {
              mobtotal2 = mobtotal2 + financialarr[i].money
            }
          } %>
            <%= mobtotal2 %>
            </th>
          <th class="extcell totalremain"> <%= mobtotall - mobtotal2 %> </th>
              
            </tr>
          </table>
        </div>
        <div class="details">
          <div class="summ">
            <div class="iconstyl">
              <span class="icon-circle-left"></span>
              <span class="icon-circle-down hide2"></span>
            </div>
            <span class="mobplace">رصيد دياب / إدفا و الغوانم – سوهاج</span>
          </div>
          <table class="center hide-when-mobile2 mobtable detTable">
            <tr class="rows">
              <th class="">م</th>
              <th class="">التاريخ</th>
              <th class="">البيان</th>
              <th class="">الرصيد</th>
              
            </tr>
            <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة رصيد" && item.places == "دياب / إدفا و الغوانم – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb2"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            
          </tr>
        <%
        } }) %>
            <tr class="rows">
              <th class="hidecell">م</th>
              <th class="hidecell">المكان</th>
              <th class="extcell">الاجمالي</th>
              <th class="extcell mobtotalcurrence"><%= mobtotaal %></th>
              
            </tr>
          </table>
        </div>
        <div class="details">
          <div class="summ">
            <div class="iconstyl">
              <span class="icon-circle-left"></span>
              <span class="icon-circle-down hide2"></span>
            </div>
            <span class="mobplace">مصروفات دياب / إدفا و الغوانم – سوهاج</span>
          </div>
          <table class="center hide-when-mobile2 mobtable detTable">
            <tr class="rows">
              <th colspan="4" class="">الرصيدالمتاح</th>
              <th colspan="3" class="mobtotalcurrence"> <%= mobtotaall %> </th>
            </tr>
            <tr class="rows">
              <th class="">م</th>
              <th class="">التاريخ</th>
              <th class="">البيان</th>
              <th class="">المصروفات</th>
              <th class="">المتبقي</th>
              
            </tr>
            <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة مصروفات" && item.places == "دياب / إدفا و الغوانم – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb2"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            <td class=""> <%= mobtotaal - item.money %>
                          <% mobtotaal = mobtotaal - item.money %>   </td>
            
          </tr>
        <%
        } }) %>
            <tr class="rows">
              <th class="hidecell">م</th>
              <th class="hidecell">المكان</th>
              <th class="extcell">الاجمالي</th>
              <th class="extcell totaloutcome"> 
            <% 
            let mobtotaal2 = 0;
            for (let i = 0; i < financialarr.length; i++) {
            if ( financialarr[i].type == "أضافة مصروفات" && financialarr[i].places == "دياب / إدفا و الغوانم – سوهاج") {
              mobtotaal2 = mobtotaal2 + financialarr[i].money
            }
          } %>
            <%= mobtotaal2 %>
            </th>
          <th class="extcell totalremain"> <%= mobtotaall - mobtotaal2 %> </th>
              
            </tr>
          </table>
        </div>
        <div class="details">
          <div class="summ">
            <div class="iconstyl">
              <span class="icon-circle-left"></span>
              <span class="icon-circle-down hide2"></span>
            </div>
            <span class="mobplace">رصيد رداد مراد / بهتا – سوهاج</span>
          </div>
          <table class="center hide-when-mobile2 mobtable detTable">
            <tr class="rows">
              <th class="">م</th>
              <th class="">التاريخ</th>
              <th class="">البيان</th>
              <th class="">الرصيد</th>
              
            </tr>
            <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة رصيد" && item.places == "رداد مراد / بهتا – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb2"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            
          </tr>
        <%
        } }) %>
            <tr class="rows">
              <th class="hidecell">م</th>
              <th class="hidecell">المكان</th>
              <th class="extcell">الاجمالي</th>
              <th class="extcell mobtotalcurrence"> <%= mobtotaaal %> </th>
              
            </tr>
          </table>
        </div>
        <div class="details">
          <div class="summ">
            <div class="iconstyl">
              <span class="icon-circle-left"></span>
              <span class="icon-circle-down hide2"></span>
            </div>
            <span class="mobplace">مصروفات رداد مراد / بهتا – سوهاج</span>
          </div>
          <table class="center hide-when-mobile2 mobtable detTable">
            <tr class="rows">
              <th colspan="4" class="">الرصيدالمتاح</th>
              <th colspan="3" class="mobtotalcurrence"> <%= mobtotaaall %> </th>
            </tr>
            <tr class="rows">
              <th class="">م</th>
              <th class="">التاريخ</th>
              <th class="">البيان</th>
              <th class="">المصروفات</th>
              <th class="">المتبقي</th>
              
            </tr>
            <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة مصروفات" && item.places == "رداد مراد / بهتا – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb2"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            <td class=""> <%= mobtotaaal - item.money %>
                          <% mobtotaaal = mobtotaaal - item.money %>   </td>
            
          </tr>
        <%
        } }) %>
            <tr class="rows">
              <th class="hidecell">م</th>
              <th class="hidecell">المكان</th>
              <th class="extcell">الاجمالي</th>
              <th class="extcell totaloutcome"> 
            <% 
            let mobtotaaal2 = 0;
            for (let i = 0; i < financialarr.length; i++) {
            if ( financialarr[i].type == "أضافة مصروفات" && financialarr[i].places == "رداد مراد / بهتا – سوهاج") {
              mobtotaaal2 = mobtotaaal2 + financialarr[i].money
            }
          } %>
            <%= mobtotaaal2 %>
            </th>
          <th class="extcell totalremain"> <%= mobtotaaall - mobtotaaal2 %> </th>
              
            </tr>
          </table>
        </div>
        <div class="details">
          <div class="summ">
            <div class="iconstyl">
              <span class="icon-circle-left"></span>
              <span class="icon-circle-down hide2"></span>
            </div>
            <span class="mobplace">
             رصيد عثمان أبو مروان / الشوكا – طما – سوهاج
            </span>
          </div>
          <table class="center hide-when-mobile2 mobtable detTable">
            <tr class="rows">
              <th class="">م</th>
              <th class="">التاريخ</th>
              <th class="">البيان</th>
              <th class="">الرصيد</th>
              
            </tr>
            <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة رصيد" && item.places == "عثمان أبو مروان / الشوكا – طما – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb2"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            
          </tr>
        <%
        } }) %>
            <tr class="rows">
              <th class="hidecell">م</th>
              <th class="hidecell">المكان</th>
              <th class="extcell">الاجمالي</th>
              <th class="extcell mobtotalcurrence"> <%= mobtotaaaal %> </th>
              
            </tr>
          </table>
        </div>
        <div class="details">
          <div class="summ">
            <div class="iconstyl">
              <span class="icon-circle-left"></span>
              <span class="icon-circle-down hide2"></span>
            </div>
            <span class="mobplace">
              مصروفات عثمان أبو مروان / الشوكا – طما – سوهاج
            </span>
          </div>
          <table class="center hide-when-mobile2 mobtable detTable">
            <tr class="rows">
              <th colspan="4" class="">الرصيدالمتاح</th>
              <th colspan="3" class="mobtotalcurrence"> <%= mobtotaaaall %> </th>
            </tr>
            <tr class="rows">
              <th class="">م</th>
              <th class="">التاريخ</th>
              <th class="">البيان</th>
              <th class="">المصروفات</th>
              <th class="">المتبقي</th>
              
            </tr>
            <% financialarr.forEach((item,index) => { 
          if ( item.type == "أضافة مصروفات" && item.places == "عثمان أبو مروان / الشوكا – طما – سوهاج") {
          %>
          <tr class="rows">
            <td class="numb2"></td>
            <td class=""><%= item.date %></td>
            <td class=""><%= item.ways %></td>
            <td class=""><%= item.money %></td>
            <td class=""> <%= mobtotaaaal - item.money %>
                          <% mobtotaaaal = mobtotaaaal - item.money %>   </td>
            
          </tr>
        <%
        } }) %>
            <tr class="rows">
              <th class="hidecell">م</th>
              <th class="hidecell">المكان</th>
              <th class="extcell">الاجمالي</th>
              <th class="extcell totaloutcome"> 
            <% 
            let mobtotaaaal2 = 0;
            for (let i = 0; i < financialarr.length; i++) {
            if ( financialarr[i].type == "أضافة مصروفات" && financialarr[i].places == "عثمان أبو مروان / الشوكا – طما – سوهاج") {
              mobtotaaaal2 = mobtotaaaal2 + financialarr[i].money
            }
          } %>
            <%= mobtotaaaal2 %>
            </th>
          <th class="extcell totalremain"> <%= mobtotaaaall - mobtotaaaal2 %> </th>
              
            </tr>
          </table>
        </div>
      </div>

    </section>
    <%- include('./components/footer.ejs') %>
  </body>
</html>
