<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>كارت الخير</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/pages.css" />
    <link rel="stylesheet" href="css/worker.css" />
    <link
      rel="stylesheet"
      href="css/mobile-pages.css"
      media="(max-width: 767px)"
    />
    <link
      rel="stylesheet"
      href="css/mobile-header.css"
      media="(max-width: 767px)"
    />
    <link
    rel="stylesheet"
    href="css/mobile-header2.css"
    media="(max-width: 367px)"
  />

    <link rel="stylesheet" href="iconmoon/style.css" />
    <script defer src="js/worker.js"></script>
    <script defer src="js/mobile-header.js"></script>
  </head>
  <body dir="rtl" id="body">
    <%- include('./components/header.ejs') %>

    <section class="MainSec" id="MainSec">
      <h1 class="MainTitle">العاملين عليها</h1>
        
      <table  class="center inco">
        <tr>
            <th class="name">الايرادات الي الان</th>
            <th class="money" id="inpworker"> 
              <% 
          let workerIncom = 0;
          for (let i = 0; i < incomarr.length; i++) {
            workerIncom = workerIncom + incomarr[i].worker
            mobworkerIncom = workerIncom
            totworkerIncom = workerIncom
          } %>
          <%= workerIncom %> 
        </th>
          </tr>
        </tr>
      </table>
      <span class="icon-th-list show-when-mobile" id="det"></span>
      <table  class="center inco show-when-mobile hide2" id="dettable">
        <tr class="">
          <th class="">الاجمالي</th>
          <th class=""> <%= mobworkerIncom %> </th>
        </tr>
        <tr class="">
          <th class="">المصروفات</th>
          <th id="totalpaid2">
            <% 
            let mobworkerall = 0;
            for (let i = 0; i < workerarr.length; i++) {
              mobworkerall = mobworkerall + workerarr[i].money
            } %>
            <%= mobworkerall %>
          </th>
        </tr>
        <tr class="">
          <th class="">المتبقي</th>
          <th id="totalremain2"> 
            <%= totworkerIncom - mobworkerall %>
          </th>
        </tr>
      </table>

      <table class="center hide-when-mobile2" id="table">
        <tr>
          <th>م</th>
          <th>التاريخ</th>
          <th>البيان</th>
          <th>المصروفات</th>
          <th>المتبقي</th>
          <th>تعديلات</th>
        </tr>
        <% workerarr.forEach((item,index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= item.date %></td>
            <td><%= item.ways %></td>
            <td><%= item.money %></td>
            <td> 
              <%= workerIncom - item.money %>
          <% workerIncom = workerIncom - item.money %>
            </td>
            <td>
              <div>
                <form class="buttons" style="display: inline;" action="/worker.html/<%= item._id %>?_method=DELETE"  method="post">
                  <button><span class="icon-trash del"></span></button>
                </form>
                <a href="editworker/<%= item._id %>">
                  <button>
                  <span class="icon-pencil"></span>
                </button>
              </div>
            </td>
          </tr>
        <% }) %>
        <tr class="rows">
          <th class="hidecell">م</th>
          <th class="hidecell">المكان</th>
          <th class="extcell">الاجمالي</th>
          <th class="extcell" id="totalpaid">
            <% 
            let workerall = 0;
            for (let i = 0; i < workerarr.length; i++) {
              workerall = workerall + workerarr[i].money
            } %>
            <%= workerall %></th>
          </th>
          <th class="extcell" id="totalremain">
            <%= totworkerIncom - workerall %>
          </th>
          <th class="hidecell">تعديلات</th>
        </tr>
      
      </table>

      <div class="show-when-mobile2" id="mobincom">  
        <% workerarr.forEach(item => { %>
          <div class="details">
            <div class="summ">
                        <div class="iconstyl">
                         <span class="icon-circle-left"></span><span class="icon-circle-down hide2"></span></div>
                        <span><%= item.ways %></span>
                      </div>
            <table class="detTable">
              <tr>
                <td>التاريخ</td>
                <td class="mobdate"><%= item.date %></td>
              </tr>
              <tr>
                <td>المصروفات</td>
                <td class="mobmoney"><%= item.money %></td>
              </tr>
              <tr>
                <td>المتبقي</td>
                <td class="mobworker"> 
                  <%= mobworkerIncom - item.money %>
          <% mobworkerIncom = mobworkerIncom - item.money %>
                </td>
              </tr>
              <tr>
                <td>تعديلات</td>
                <td>
                  <div class="icons2">
                    
                    <form class="buttons" style="display: inline;" action="/worker.html/<%= item._id %>?_method=DELETE"  method="post">
                      <button class="icon-trash del"></button>
                    </form>
                    <a href="editworker/<%= item._id %>">
                      <button>
                      <span class="icon-pencil2"></span>
                    </button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        <% }) %>
        
      </div>

      <div class="form-popup hide-when-mobile" id="myForm">
        <form action="/worker.html" method="post" class="form-container">
          <h1>مصروفات</h1>

          <label for="data"><b>التاريخ</b></label>
          <input id="dateinput" type="date" name="date" required />
          <br />
          <label for="number"><b>البيان</b></label>
          <input class="input" type="name" min="0" name="ways" required />
          <br />
          <label for="number"><b>المصروفات</b></label>
          <input class="input" type="number" name="money" min="0" required />
          <div>
            <button type="submit" class="btn savebtn" id="save" disabled>حفظ</button>
            <button type="submit" class="btn cancel" id="cancel">الغاء</button>
          </div>
        </form>
      </div>
    </section>
    <%- include('./components/footer.ejs') %>
  </body>
</html>
